body{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVkdY0XdH-gVxaMuLskpkFVaxiwsahodRtiNw8aSOSph_s0AHvhNOEUKci&s=10");
            background-size: cover;
        }
        
        .main {
            background-color: rgba(112, 110, 110, 0.305);
            padding: 50px;
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 50px;
            border-radius: 20px;
            border:1px solid;
            border-color: white;
            box-shadow: 0 10px 10px rgba(23, 22, 22, 0.393) ;
            

        }

        .div2 {
            background-color: rgba(84, 81, 81, 0.153);
            padding: 20px;
            display: flex;
            justify-content: center;
            margin-right: 60px;
            margin-left: 70%;
            border-radius: 20px;
            border: 1px solid;
            border-color: rgb(209, 205, 205);
            box-shadow: 0 10px 10px rgba(23, 22, 22, 0.233) ;
            
            
        }

        .div2:hover{
            box-shadow: 0 10px 10px rgba(23, 22, 22, 0.604) ;
        }
        .form{
            text-align: center;
            padding: 20px;
            
        }
        
        .inputs{
            padding: 7px;
            width: 100%;
            border-radius: 20px;
            background-color: rgba(84, 81, 81, 0.153);
            border: 2px solid;
            border-color: rgba(255, 255, 255, 0.477);
            text-align: center;
            color: white;
        }

        .inputs:hover{
            border-color: white;
            border-width: 2px;
        }
        .inputs::placeholder{
            color: white;
            text-align: center;
        }
        label{
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 15px;
        }
        .btn{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            background-color: rgba(84, 81, 81, 0.153);
            font-size: 15px;
            width: 100px;
            border: 1px solid;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 22px;
            padding-right: 30px;
            text-align: center;
            border-radius: 10px;
        }
        .btn:hover{
            background-color: rgba(0, 0, 0, 0.314);
            border-color: rgba(0, 0, 0, 0.314);
        }
        h2{
            color: white;
            
        }
        hr{
            
            color: rgba(203, 196, 196, 0.444);;
        }